*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.none
{
    display: none;
}
.light-grey{
   background-color: #f1f1f1!important;
}
.navbtn{
    position: fixed;
    top: 39%;
    left: 4%;
    transform: translate(-40%,-4%);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border:#fff 2px solid;
    transition: 300ms ease-in-out;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.navbtn:nth-child(2){
    top: 52%;
    left: 4.4%;
    transform: translate(-50%,-4.4%);
}
.navbtn:nth-child(3){
    top: 65%;
    left: 4.8%;
    transform: translate(-60%,-4.8%);
}
.navbtn:hover
{
    background-color: black;
    color: #fff;
    border: #000 2px solid;
    height: 65px;
    width: 65px;
}
.resume{
    width: 800px;
    margin-top: 16px;
    padding: 30px 100px;
    margin: 0 auto;
}
.resume .row{
    padding: 0 8px;
}
#print
{
    background-color: #fff;
    padding: 30px 50px;
    height: 1120px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.col-lg-3{
    width: 36%;
    float: left;
}
.profile{
    padding-bottom: 50px;
    margin-bottom: 100px;
    margin-top: 50px;
}
.profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
    width: 165px;
    height: 165px;
    margin: 0 auto;
}
.profile-pic input {
    display: none;
}
.profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    /* z-index: 0; */
}
.profile-pic .-label {
    cursor: pointer;
    height: 165px;
    width: 165px;
}
.profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;
}
.profile-pic span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
}
.personal-details{
    margin-top: 30px;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
.post{
    font-size: 20px;
    margin-top: 10px;
}
.contacts .content
{
    font-weight: 500;
    line-height: 1.8;
}
.contacts .symbol{
    font-size: 15px;
    width: 17px;
    height: 17px;
    margin-right: 10px;
   
}
.details{
    margin-top: 20px;
    
}
.title {
    font-weight: 700;
    font-size: 18px;
    border: none;
    padding-bottom: 3px;
    border-bottom: 2px rgb(0, 0, 0) solid;
}
.skill {
    margin-bottom: 6px;
}
.input-checkbox {
    margin-right: 10px;
}
.fas {
    font-weight: 900;
}
.btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    padding: 5px;
    margin-top: 10px;
}
.btn-danger {
    color: #fff;
    background-color: #ff0000;
    border-color: #d80016;
    padding: 5px;
    margin-top: 10px;
}
.input-checkbox{
    margin-right: 10px;
}
.col-lg-9{
    width: 64%;
    float: right;
}
.col-lg-9 .content{
    padding: 50px 0px 50px 20px;
    text-align: justify;

}